@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
header{
    width: 1600px;
    height: 60px;
    position: relative;
    margin: auto;
}
.logo{
    position: absolute;
    height: 60px;
    line-height: 65px;
    z-index: 100;
}
.logo a{
    display: block;
}
nav{
    text-align: center;        /* 부모한테 center주고 */
    height: 60px;
    line-height: 60px;
}
nav>ul>li{
    display: inline-block;    /* li 가운데 정렬하려면 */
}
nav>ul>li>a{
    padding: 0 25px;
    font-family: 'Gowun Dodum';
    font-size: 18px;
}
header::after{
    content: "";
    display: block;
    clear: both;
}
.header-bottom{
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    display: none;
    position: absolute;
    z-index: 10;
}
.sub-menu01{
    height: 50px;
    line-height: 50px;
    position: absolute;    /* 이거 해줘야 위에 nav가 멀쩡해짐 */
    left: 170px;
    display: none;
    z-index: 100;
}
.sub-menu01>li{
    float: left;
}
.sub-menu01>li>a{
    padding: 0 20px;
    font-family: 'Gowun Dodum';
}
.sub-menu02{
    height: 50px;
    line-height: 50px;
    position: absolute;    /* 이거 해줘야 위에 nav가 멀쩡해짐 */
    left: 490px;
    display: none;
    z-index: 101;
}
.sub-menu02>li{
    float: left;
}
.sub-menu02>li>a{
    padding: 0 20px;
    font-family: 'Gowun Dodum';
}
.header-bottom2{
    width: 100%;
    height: 500px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    display: none;
    position: absolute;
    z-index: 11;
}
.sub-menu-inner{
    width: 1000px;
    margin: auto;
    height: 490px;
    position: absolute;
    left: 300px;
    margin-top: 10px;
    display: none;
}
.sub-menu03{
    width: 200px;
    height: 450px;
    position: absolute;    /* 이거 해줘야 위에 nav가 멀쩡해짐 */
    text-align: left;
    z-index: 103;
}
.sub-menu03>li>a{
    font-family: 'Gowun Dodum';
    font-size: 14px;
    display: block;
    width: 180px;
    height: 35px;
    line-height: 35px;
}
.all{
    padding: 5px 0;
}
.bold{
    font-weight: bold;
    border-bottom: 1px solid #333;
    padding: 5px 0;
}
.sub-menu04{
    width: 200px;
    height: 450px;
    position: absolute;    /* 이거 해줘야 위에 nav가 멀쩡해짐 */
    text-align: left;
    left: 250px;
    top: 35px;
    z-index: 104;
}
.sub-menu04>li>a{
    font-family: 'Gowun Dodum';
    font-size: 14px;
    display: block;
    width: 180px;
    height: 35px;
    line-height: 35px;
}
.sub-menu05{
    width: 200px;
    height: 450px;
    position: absolute;    /* 이거 해줘야 위에 nav가 멀쩡해짐 */
    text-align: left;
    left: 500px;
    top: 35px;
    z-index: 105;
}
.sub-menu05>li>a{
    font-family: 'Gowun Dodum';
    font-size: 14px;
    display: block;
    width: 180px;
    height: 35px;
    line-height: 35px;
}
.sub-img img{
    width: 260px;
    height: 300px;
}
.sub-img{
    margin-top: 10px;
    height: 450px;
    z-index: 1000;
    position: absolute;
    right: 0;
}
.txt a{
    color: #4477BE;
    font-weight: bold;
    float: left;
    display: block;
    height: 20px;
}
.txt2 a{
    color: #333;
    font-weight: bold;
    float: left;
    font-family: 'Gowun Dodum';
    display: block;
    margin-top: -30px;
}
.sub-menu-inner2{
    width: 1000px;
    margin: auto;
    height: 490px;
    position: absolute;
    left: 300px;
    margin-top: 10px;
    display: none;
}
.header-bottom3{
    width: 100%;
    height: 450px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    display: none;
    position: absolute;
    z-index: 12;
}
.sub-menu-inner3{
    width: 1000px;
    margin: auto;
    height: 490px;
    position: absolute;
    left: 300px;
    margin-top: 10px;
    display: none;
}
#slide-container{
	max-width: 100%;
}
#slide-container img{
	max-width: 100%;
}

